<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="host" value="localhost" />
		<add key="username" value="user" />
		<add key="password" value="password" />
		<add key="database" value="tour_db" />
		<add key="openroute_key" value="5b3ce3597851110001cf6248e95c9cca9e1547b29b90b495753a9533" />
		<add key="openweather_key" value="7832264d876cd4627f47e0fc6a2e3b9f" />
	</appSettings>
</configuration>